a:link{
    text-decoration:none;
}
div{
    height: 18px;
    width: 80px;
    border: 1px solid black;
    border-radius: 15px;
    display:block;
    background-color:#BB0000;
    padding-bottom:18px;
}
#kayit{
    color:#FFFFAA;
    text-align:center;
}
.giris{
    color:#BB0000;
}